html{
    scroll-behavior: smooth;
}
.font {
    font-family: "Montserrat", sans-serif;
}

#navbar {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #b1b0b8;
}

#navbar a {
    float: right;
    display: block;
    color: #ffffff;
    text-align: left;
    padding: 20px;
    text-decoration: none;
    margin-right: 30px;
    font-weight: bold;
}

#logo a {
    font-size: large;
    float: left;
    font-weight: bold;
}

#title {
    text-align: center;
    font-size: 40px;
    padding: 210px;
    line-height: 0.3;
}

#title h5 {
    color:#584461;
}

#about {
    scroll-margin-top: 290px;
    font-size: 20px;
    text-align: center;
    padding-bottom: 200px;
}

#about h3 {
    font-weight: bold;
}

#about a {
    background-color: #584461;
    border-radius: 25px;
    color: white;
    padding: 14px 50px;
    margin: 0px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

}

#projects {
    scroll-margin-top: 280px;
    font-size: 20px;
    text-align: center;
    padding-bottom: 200px;
}

#skills {
    font-size: 20px;
    text-align: center;
    padding-bottom: 200px;
}

#skills img {
    width: 8%;
    height: auto;
    display: inline-block;
    margin: 20px 40px;
}

